body {
  margin: 0;
  padding: 0;
  background: linear-gradient(125deg, red, green, blue);
  width: 100vw;
  height: 100vh;
  oveflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#collisionCanvas {
  opacity: 0;
}